<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="">


<div class="topborder">
<!-- Footer -->
<footer class="text-center text-white bg-custom">
<!-- Grid container -->
<div class="container">
<!-- Section: Links -->
<section class="mt-5">
  <!-- Grid row-->
  <div class="row text-center d-flex justify-content-center pt-5">
    <!-- Grid column -->
    <div class="col-md-2">
      <h6 class="text-uppercase font-weight-bold">
        <a href="{% url 'about' %}" class="text-white tdnone">About me</a>
      </h6>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-2">
      <h6 class="text-uppercase font-weight-bold">
        <a href="{% url 'home' %}#services" class="text-white tdnone">Services</a>
      </h6>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-2">
      <h6 class="text-uppercase font-weight-bold">
        <a href="{% url 'home' %}#ourworks" class="text-white tdnone">Our Works</a>
      </h6>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-2">
      <h6 class="text-uppercase font-weight-bold">
        <a href="{% url 'home' %}#contactme" class="text-white tdnone">Contact</a>
      </h6>
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row-->
</section>
<!-- Section: Links -->

<hr class="my-5" />

<!-- Section: Text -->
<section class="mb-5">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-8">
      <p>
        Our aim is to teach programming to people effectively and efficiently. We can do whatever takes to teach them.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>
  </div>
</section>
<!-- Section: Text -->

<!-- Section: Social -->
<section class="text-center mb-5">
  <a href="https://www.facebook.com/www.santhosh143/" class="text-white me-4 tdnone">
    <i class="fab fa-facebook-f"  style="font-size:30px;""></i>
  </a>
  <a href="https://wa.me/+919789429543" class="text-white me-4 tdnone">
    <i class="fab fa-whatsapp" style="font-size:30px;"></i>
  </a>
  <a href="https://www.instagram.com/santhosh021/" class="text-white me-4 tdnone">
    <i class="fab fa-instagram" style="font-size:30px;"></i>
  </a>
  <a href="https://github.com/santhosh021" class="text-white me-4 tdnone">
    <i class="fab fa-github" style="font-size:30px;"></i>
  </a>
</section>
<!-- Section: Social -->
</div>
<!-- Grid container -->

<!-- Copyright -->
<div
   class="text-center p-3"
   style="background-color: rgba(0, 0, 0, 0.2)"
   >
© 2022 Copyright: Sky Learn
</div>
<!-- Copyright -->
</footer>
<!-- Footer -->
</div>
<!-- End of .container -->
</div>
