{% extends 'base.html' %}
{% block video %}active{% endblock %}
{% load static %}
{% block content %}
<div class="hero-image container-fluid" style="background-image: url({% static 'images/video_course.png' %});height:600px;width:auto;"></div>

<div class="container topborder text-centerr">
  <h1 class="text-center topborder allborder">Programming Video Tutorials</h1>
  <p class='text-center'>Following are the available programming languages.<br>Start learning today</p>
</div>

<div class="container topborder">
  <div class="row">
    {% for object in object_list %}
      <div class="col-md-4">
        <a href="{% url 'videos:videolist' course_name_slug=object.course_name_slug %}" style="color:inherit;text-decoration:none;">
          <div class="card cardg cardonhover" style='width:350px; height:290px; margin:auto;'>
            <img src="/{{ object.course_image }}" alt="Oops, Image not found" class="">
            <div class="card-body  text-center">
              <h3 class="" style="font-size:35px;">{{ object.course_name }}</h3>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>



{% include '_footer.html' %}
{% endblock %}
